@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  background-color: #8ad4ff;
}

.container {
  max-width: 600px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;

  background-color: #e7e7e796;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 20px;
  border-bottom: 1px solid #323232;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;

  border: 1px solid #1ea5f3;
}

.task h3, p{
  margin: 0;
}

.task i {
  font-size: 1.1em;
  color: #757575;
}

.task i:hover {
  color: red;
  font-size: 1.4em;
  cursor: pointer;
  transition: 500ms;
}

.reminder {
  border-left: 5px solid #1ea5f3;
}

.form-container{
  border-top: 1px solid #323232;
  max-width: 500px;
  margin: 20px auto;

  display: flex;
  justify-content: center;
}

input[type=text]{
  margin: 10px;
  padding: 5px;
  font-size: 1em;
  width: 80%;

  border: 1px solid #8ad4ff;
}

input[type=text]:focus {
  background-color: lightblue;
  border: 1px solid #8ad4ff;
}

.activity, .date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-container input[type=submit]{
  align-self: center;
  margin: 0 auto;
}